html {
  background: url(images/boardBackground.jpg);
}

body {
  width: 600px;
  padding-left: 150px;
  padding-right: 150px;
  background: rgba(255, 255, 255, 0.9);
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  /* or can do padding: 20px,150px */
}

h1 {
  text-align: center;
  background: rgb(60, 60, 60);
  color: white;
  border-radius: 20px;
  letter-spacing: 4px;
}

img {
  width: 300px;
  height: 300px;
}
/* Classes can be used in multiple tags */
.center,
h2 {
  text-align: center;
}

#orange {
  color: orange;
}
#blue {
  color: blue;
}
#red {
  color: red;
}
h2 {
  font-variant: small-caps;
}

h1,
h2 {
  font-family: "Kavivanar", cursive;
}

p {
  font-family: "Montserrat", sans-serif;
}

.caption {
  text-align: center;
  font-size: 12px;
  font-style: italic;
}
